* {
    margin: 0;
    top: 0;
    left: 0;
    padding:  0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 100%;
    background-color: rgb(255,255,255);
}

.nav a {
    font-size: 30px;
    animation: slide-open 1s ease-in-out;
}

.home-main {
    height: 100vh;
}

.entrance-section {
    background-color: rgb(66, 80, 85);
    color: black;
    animation: opacity 1s ease-in-out;
    margin-top: 10em;
    padding: 20px;
}

.entrance-section h3  {
    text-align: center;
    /* padding: 30px; */
    margin-top: 20px;
}

.entrance-section p {
    text-align: center;
    text-wrap: balance;
    font-weight: bold;
}

.entrance-section li {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.image-search {
    background-color:  rgb(66, 80, 85);
    padding: 20px;
    margin-top: 70px;
}

.image-search img {
    align-items: center;
    position: relative;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

.image-search img:hover {
    animation: rotate 2s infinite;
}

.image-search h1 {
    text-align: center;
    margin-top: 15px;
    color: black;
    cursor: pointer;
}













@keyframes slide-open {
    from {
        transform: translateX(30px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
          }
}



@keyframes opacity {
    from {
        opacity: 0;
    } 
    to { 
        opacity: 1;
    }
}


@keyframes rotate { 
    from {
        rotate: 0;
    } to {
        rotate: 360deg;
    }
}